@model HRmangmentSystem.Models.Hr




@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/login.css" asp-append-version="true">
    <script src="https://kit.fontawesome.com/585fda3aab.js" crossorigin="anonymous"></script>
</head>
<body>

    <div class="login-box">
        <h2>
            Find your account
        </h2>
        <p>Enter your email</p>

        <form asp-controller="Hr" asp-action="ForgetPassword">

            <div class="form-group">
                <label for="Password">Your email</label>
                <i class="fa-solid fa-lock"></i>
                <input name="Email" type="email" placeholder="Your email" class="form-control" required>

            </div>

            <button type="submit" class="btn">Send email</button>

            <div>
            </div>
        </form>
    </div>

</body>
</html>







